.list {
  display: grid;
  gap: 20px;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding: 10px;
  background: white;
  color: black;
  border-radius: 8px;
  box-shadow: var(--shadow-elevation-high);
}

.note-content {
  margin-right: 20px;
  text-align: start;
}

.dueDate {
  cursor: pointer;
  background: transparent;
  color: black;
  border: none;
  
  &:focus-visible {
    border-radius: 5px;
    border: none;
    outline: 1px solid #0099cc;
    background: #ddd;
    
  }
}
