:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #24424c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --shadow-color: 195deg 51% 10%;
  --shadow-elevation-low:
    0px 0.1px 0.1px hsl(var(--shadow-color) / 0.31),
    0px 0.4px 0.5px -1.5px hsl(var(--shadow-color) / 0.51);
  --shadow-elevation-medium:
    0px 0.1px 0.1px hsl(var(--shadow-color) / 0.29),
    0px 0.6px 0.8px -0.7px hsl(var(--shadow-color) / 0.41),
    -0.1px 2px 2.6px -1.5px hsl(var(--shadow-color) / 0.54);
  --shadow-elevation-high:
    0px 0.1px 0.1px hsl(var(--shadow-color) / 0.32),
    -0.1px 1.2px 1.5px -0.4px hsl(var(--shadow-color) / 0.4),
    -0.1px 2.6px 3.3px -0.7px hsl(var(--shadow-color) / 0.49),
    -0.2px 5.2px 6.6px -1.1px hsl(var(--shadow-color) / 0.57),
    -0.5px 9.9px 12.6px -1.5px hsl(var(--shadow-color) / 0.66);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
